@import '../common';
@import './input';


/* roboto-regular - latin */

.app {
    @extend .flex-center;

    font-family: 'Roboto';
    height: 100vh;
    flex-direction: column;
}

.login-container {
    padding: $default-padding;
    box-shadow: $box-shadow;
    border-radius: $border-radius * 3;
    text-align: center;
    border-radius: 4px;
    flex-direction: column;
    justify-content: space-between;
    width: 26vw;
    min-width: 400px;
    position: absolute;
    top: 30vh;
    left: 37vw;
    animation: translateX .7s ease-in-out;

    @keyframes translateX {
        0% {
            transform: translate(-20vw, 0);    
        }
        100% {
            transform: translate(0, 0);
        }
    }


    button {
        background-color: $primaryColor;
        padding: $default-padding;
        font-size: 16px;
        font-weight: bold;
        width: 60%;
        border: 2px solid #333333;
        border-radius: $border-radius * 3;
    }
}

.login-options {
    @extend .flex-center;

    border: 2px solid #777777;
    border-radius: $border-radius;
    height: 40px;
    margin-left: $default-margin;
    margin-right: $default-margin;
    overflow: hidden;
    cursor: pointer;

    h4 {
        @extend .flex-center;
        flex: 1;
    }

    .tab {
        padding: $default-padding;
        flex: 1;
        width: 70%;
    }
}









