
$default-padding: 16px;
$default-margin: 16px;
$black: #000;
$border-radius : 8px;

$primaryColor: rgb(240, 230, 179);

$box-shadow: -1rem 0.5rem 2rem rgba($black, 0.25) !default;

body {
    margin: 0px; 
}


.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.set-background-primary {
    background-color: $primaryColor;
}

.set-primary {
    color: $primaryColor
}